<section class="hero">
<div class="container">
    <div class="hero__wrapper">
        <figure class="hero__img">
        <img src="../../images/illustration-intro.svg" alt="">
        </figure>
        <div class="hero__text">
            <h1 class="title">Bring everyone together to build better products.</h1>
            <p class="subtitle">Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.</p>
            <button class="btn btn-header">get started</button>
        </div>
    </div>
</div>
</section>
