header {
    padding: 4rem 0 6.8rem;
}
#nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem 1.5rem 0.8rem;
    margin: 0 -2rem 0; 
}
.container {

    max-width: 111rem;
    padding: 0 2.4rem;
    margin: 0 auto;
    height: inherit;
}
.brand-logo svg {
    transform: scale(0.8);
}